/*//META{"name":"codeblockLangIdentifier","description":"Shows the corresponding language's syntax highlighting that was used on the code block.","author":"intrnl","version":"0.0"}*//**/

@import url("https://intrnl.github.io/discordcustomizations/codeblockLangIdentifier/dist/themefile.css");

/*
  There are no user-customizable variables for this theme.
*/
