.channel-members-wrap {
  width: 90px;
  min-width: unset;

  .scrollerWrap-2uBjct {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(32, 34, 37, 0.6);
    transition: right .2s ease;
    position: absolute;
    top: 0;
    bottom: 0;
    left: unset;
    right: 0;
  }
  .channel-members {
    width: 240px;
  }
  &:not(:hover) {
    .scrollerWrap-2uBjct {
      box-shadow: 0 0;
      right: -(240px) + 90px;
    }
    .channel-members {
      height: 156%;
      padding: 15px 0;
      overflow-y: hidden;

      .old-h2 {
        display: none;
      }
      .member {
        .avatar-small {
          margin-right: 0;
        }
        .member-inner {
          display: none;
        }
      }
    }
  }
}