
.activityProfile-2pymp0, .activityUserPopout-1nmgaw {
  .theme-dark & {
    .headerText-2CVBxK {
      color: #72767d;
    }
    .textRow-1_JoJf, .bodyLink-rRVoAA, .text-38ELUs {
      color: hsla(0,0%,100%,.8);
    }
    .bar-45Cs4I {
      background-color: hsla(0,0%,100%,.2);
    }
    .barInner-2eCe2h {
      background-color: hsla(0,0%,100%,.6);
    }
    .button-2t3of8 {
      border-color: hsla(0,0%,100%,.3);
      color: #fff;

      &:hover {
        border-color: hsla(0,0%,100%,.6);
      }
    }
  }
  .theme-light & {
    .headerText-2CVBxK {
      color: #72767d;
    }
    .textRow-1_JoJf, .bodyLink-rRVoAA, .text-38ELUs {
      color: #737f8d;
    }
    .bar-45Cs4I {
      background-color: #b9bbbe;
    }
    .barInner-2eCe2h {
      background-color: #737f8d;
    }
    .button-2t3of8 {
      border-color: rgba(116,127,141,.3);
      color: #747f8d;

      &:hover {
        border-color: rgba(116,127,141,.6);
      }
    }
  }
}
