.userPopout-11hFKo {
  .header-3budic {
    .botTag-1OwMgs {
      background: #7289da;
      color: #fff;
    }
  }
  .header-3budic:not(.headerNormal-3Vn9nT) + .body-3ljq11 {
    box-shadow: 0 0;
  }
  .footer-2wFs91 {
    border-top: 0;
  }

  .theme-dark & {
    .header-3budic {
      background-color: #35393e;

      .headerTag-I11IJx {
        color: hsla(0,0%,100%,.6);
      }
      .headerName-3U6eDn, .headerTagUsernameNoNickname-22Y2PV {
        color: #fff;
      }
    }
    .activity-3NviKQ {
      .headerText-2CVBxK {
        color: #72767d;
      }
      .textRow-1_JoJf {
        color: hsla(0,0%,100%,.8);
      }
    }
    .activity-3NviKQ, .body-3ljq11 {
      background-color: #2f3136;
      box-shadow: 0 2px 3px 0 rgba(0,0,0,.2) inset;
    }
    .footer-2wFs91 {
      background-color: #2b2d32;
    }
  }

  .theme-light & {
    .header-3budic {
      background-color: #fff;

      .headerTag-I11IJx {
        color: #b9bbbe;
      }
      .headerName-3U6eDn, .headerTagUsernameNoNickname-22Y2PV {
        color: #4f545c;
      }
    }
    .activity-3NviKQ {
      .headerText-2CVBxK {
        color: #72767d;
      }
      .textRow-1_JoJf {
        color: #737f8d;
      }
    }
    .activity-3NviKQ, .body-3ljq11 {
      background-color: #fff;
      box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    }
    .footer-2wFs91 {
      background-color: #f5f7f8;
    }
  }
}

.need-help-modal.deprecated {
  border-radius: 3px;
  overflow: hidden;

  .header {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    padding: 20px;
    box-sizing: border-box;

    h1 {
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: .3px;
      text-transform: uppercase;
      cursor: default;
      margin: 0 0 15px 0;
    }
    input[type=text] {
      background-color: transparent;
      box-shadow: 0 0;
      transition: border-color .2s ease;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      height: 40px;
      width: 100%;
      margin: 0;
      padding: 10px;
      border-radius: 3px;
      border: 1px solid;
      box-sizing: border-box;

      &:focus {
        margin: 0;
        border: 1px solid;
      }
    }
  }
  .form-inner {
    background-color: transparent;
    height: auto;
    min-height: unset;
    padding: 0 20px 20px 20px;

    ul {
      width: 100%;
    }
  }
  .footer {
    padding: 20px;
    border-top: 0;
  }

  a {
    color: #00b0f4;

    &:hover {
      color: #00b0f4;
      text-decoration: underline;
    }
  }

  .theme-dark & {
    background-color: #36393f;
    box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);

    .header {
      h1 {
        color: #f6f6f7;
      }
      input[type=text] {
        background-color: rgba(0,0,0,.1);
        color: #f6f6f7;
        border-color: rgba(0,0,0,.3);

        &::-webkit-input-placeholder {
          color: #dcddde;
        }
        &:hover {
          border-color: #040405;
        }
        &:focus {
          border-color: #7289da;
        }
      }
    }
    .footer {
      background-color: #2f3136;
      color: #dcddde;
      box-shadow: inset 0 1px 0 rgba(47,49,54,.6);
    }
  }

  .theme-light & {
    background-color: #fff;
    box-shadow: 0 0 0 1px hsla(216,4%,74%,.3), 0 2px 10px 0 rgba(0,0,0,.1);

    .header {
      h1 {
        color: #4f545c;
      }
      input[type=text] {
        background-color: rgba(79,84,92,.02);
        color: #4f545c;
        border-color: rgba(79,84,92,.3);

        &::-webkit-input-placeholder {
          color: #72767d;
        }
        &:hover {
          border-color: #b9bbbe;
        }
        &:focus {
          border-color: #7289da;
        }
      }
    }
    .footer {
      background-color: #f6f6f7;
      color: #72767d;
      box-shadow: inset 0 1px 0 hsla(240,6%,97%,.6);
    }
  }
}

.container-1WaXoH {
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
  width: 255px;

  header {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-transform: none;
    display: flex;
    justify-content: flex-start;
  }

  .theme-dark & {
    header {
      background-color: #35393e;
      color: #fff;
      box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
    }
  }
  .theme-light & {
    header {
      color: #737f8d;
    }
  }
}